.btn {
    border: none;
    background: none;
    padding: 15px 30px;
    background: black;
    color: white;
    font-size: 40px;
    border: 3px solid white;
    /* filter: drop-shadow(10px 10px 10px grey); */
    transition: .5s all;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.btn:hover {
    background: rgb(182, 182, 182);
    color: black;
    border-color:rgb(182, 182, 182);
    /* filter: drop-shadow(10px 10px 10px rgb(0, 0, 0)); */
    transform: scale(.8);
}